.testi {
   
    background: 
      url(putki.jpg) center
        center/cover no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-top: 30px;
    padding-top: 3rem;
  
  }

  .vahvistus {
   
    background: 
      url(putki.jpg) center
        center/cover no-repeat;
    height: 140vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
   
  }

  .lomakelahetetty a {
   
    background: 
      url(putki.jpg) center
        center/cover no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding-top: 5rem;
    text-decoration-line: none;
    
  }

  

  
  

 

 





