.testi {
   
    background: 
      url(kuutio2.jpg) center
        center/cover no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
   
  }

  .vahvistus {
   
    background: 
      url(kokop.jpg) center
        center/cover no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
   
  }

  .lomakelahetetty {
   
    background: 
      url(kokop.jpg) center
        center/cover no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
   
  }






